              /**************/
              /* INDEX PAGE */
              /**************/

.home {
  background-image: url("../images/home1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.music {
  width: 310px;
  top: 100px;
  margin:auto; 
  position:relative;
}

h1 {
  text-align: center;
  color: #b30000;
  font-family: mexican;
  font-size: 100pt;
  line-height: 20px;
}

.hxc {
  text-align: center;
  color: black;
  font-family: mexican;
  font-size: 120pt;
}

.date {
  text-align: center;
  color: #b30000;
  font-family: mexican;
  font-size: 100pt;
  line-height: 20px;
}

.facebook {
  left: 43%;
  display:block;
  width: 70px;
  height: 70px;
  border-radius:50px;
  position: absolute;
  background-image: url("../images/facebook.png");
  background-size: 100%;
  background-size: 63px auto;
}

.twitter {
  left: 48%;
  display:block;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  position: absolute;
  background-image: url("../images/twitter.png");
  background-size: 100%;
  background-size: 70px auto;
}

.instagram {
  left: 53%;
  display:block;
  width: 70px;
  height: 70px;
  border-radius:50px;
  position: absolute;
  background-image: url("../images/instagram.png");
  background-size: 100%;
  background-size: 70px auto;
}

.links {
  float: left;
}

a, a:visited {
    color: yellow;
}

.homepg {
  height: 80%;
  width: 20%;
  padding: 20px;
  background-image: url("../images/homenav.jpg");
  background-size: 100%;
  background-size: 80px auto;
  border-style: solid;
  border-width: 2px;
  border-color: grey
}

.lineup2 {
  height: 80%;
  width: 20%;
  padding: 20px;
  background-image: url("../images/lineup.jpg");
  background-size: 100%;
  background-size: 80px auto;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}

.videos2 {
  height: 80%;
  width: 20%;
  padding: 20px;
  background-image: url("../images/videos.jpg");
  background-size: 100%;
  background-size: 80px auto;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}

.tickets2 {
  height: 80%;
  width: 20%;
  padding: 20px;
  background-image: url("../images/tickets.jpg");
  background-size: 100%;
  background-size: 80px auto;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}


.block {
  height: 300px;
  width: 99.8%;
  text-align: center;
  font-family: mexican;
  font-size: 80px;
  font-weight: bold;
  line-height: 220px;
  background-color: #800000;
  border-style: solid;
  border-width: 2px;
  border-color: darkgrey;
  position: fixed;
  bottom: 0%;
}

.block a {
  display: inline-block;
  background-size: cover;
  margin: 10px 10px;
}

@font-face {
  font-family: mexican;
  src: url('mexican-pride-by-aspekhndz.ttf');
}


@media screen and (min-width:0px) and (max-width:400px) {

.home {
background-image: url("../images/home1.jpg");
background-repeat: repeat;
}

h1 {
  font-size: 60pt;
}

.hxc {
  font-size: 60pt;
}

.date {
  font-size: 60pt;
}

.facebook {
  left: 10px;
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-size: 55px auto;
}

.twitter {
  left: 130px;
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-size: 60px auto;
}

.instagram {
  left: 245px;
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-size: 60px auto;
}

.block {
  float: left;
  width: 315px;
  height: 100%;
  top: 150px;
  position: relative;
}

.lineup2 {
  width: 230px;
  height: 300px;
  top: 400px;
}

.videos2 {
  width: 230px;
  height: 300px;
  top: 400px;
}

.tickets2 {
  width: 230px;
  height: 300px;
  top: 400px;
  font-size: 70px;
}
}

              /**************/
              /* LINEUP PAGE /
              /**************/

.lineup {
  background-color: #333333;
  display: inline-block;
  margin: 0;
}

.boxes {
  padding: 10px;
  text-align: center;
  color: #e63900;
}

.top {
  width:400px;
  height:30px;
  border: 1px solid #333;
  background:#ccc;
  font-family: Arial;
}

.top h3{
  margin: 0;
  line-height: 30px;
}

.box1 {
  width: 400px;
  height:500px;
  background-image: url("../images/lineupbox1.jpg");
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 20px 105px;
}

.box2 {
  width: 400px;
  height: 500px;
  background-image: url("../images/lineupbox2.jpg");
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 20px 105px;
}

.box3 {
  width: 400px;
  height: 500px;
  background-image: url("../images/lineupbox3.jpg");
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 20px 105px;
}

@media screen and (min-width:0px) and (max-width:400px) {
  
  .box1 {
  width: 280px;
  margin-left: 5px;
  }

  .box2 {
  width: 280px;
  margin-left: 5px;
  }

  .box3 {
  width: 280px;
  margin-left: 5px;
  }

  .top {
    width: 280px;
  }

  .block {
  top: 200px;
  float: left;
  width: 315px;
  height: 100%;
  top: 20px;
  position: relative;
}

.blkadj {
  top: 150px;
}

.homepg {
  width: 230px;
  height: 300px;
  top: 400px;
}

.videos2 {
  width: 230px;
  height: 300px;
  top: 400px;
}

.tickets2 {
  width: 230px;
  height: 300px;
  top: 400px;
}
}
              /**************/
              /* VIDEOS PAGE /
              /**************/

.vidbod {
  background-image: url("../images/lineupbox1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  text-align: center;
}

.videos div {
 display: inline-block;
 margin:2%;    
 padding:20px;
}

.vidblock {
  height: 300px;
  width: 99.8%;
  text-align: center;
  font-family: mexican;
  font-size: 80px;
  font-weight: bold;
  line-height: 220px;
  background-color: #800000;
  border-style: solid;
  border-width: 2px;
  border-color: darkgrey;
  position: relative;
  bottom: 0%;
}

.vidblock a {
  display: inline-block;
  background-size: cover;
  margin: 10px 10px;
}

@media screen and (min-width:0px) and (max-width:400px) {

.vidbod {
  background-image: url("../images/lineupbox1.jpg");
  background-repeat: repeat;
}

iframe {
  margin: 10px;
  width: 280px;
  height: 300px;
  margin-left: 10px;
}

.vidadj div {
  padding: 0px;
}

.vidblock {
  float: left;
  width: 315px;
  height: 100%;
  top: 30px;
  position: relative;
}

.homepg {
  width: 230px;
  height: 300px;
  top: 400px;
}

.lineup2 {
  width: 230px;
  height: 300px;
  top: 400px;
}

.tickets2 {
  width: 230px;
  height: 300px;
  top: 400px;
}
}
              /***************/
              /* TICKETS PAGE /
              /***************/

.ticbod {
  background-color: #333333
}

.ticketboxes {
  padding: 10px;
  text-align: center;
  color: #e63900;

}

.wintics {
  background-color: black;
  font-family: mexican;
  font-size: 30px;
  width: 430px;
  height: 300px;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 15px 10px;
}

.wintics p {
  font-family: Arial;
  font-size: 20px;
}

.wintics a:visited {
  color: blue;
}

.ticbox1 {
  background-image: url("../images/homenav.jpg");
  background-size: 100% auto;
  font-family: mexican;
  font-size: 70px;
  font-weight: bold;
  width: 430px;
  height: 300px;
  text-align: center;
  line-height: 280px;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 5px 10px;
}

.ticbox2 {
  background-image: url("../images/lineup.jpg");
  background-size: 100% auto;
  font-family: mexican;
  font-size: 70px;
  font-weight: bold;
  width: 430px;
  height: 300px;
  text-align: center;
  line-height: 280px;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 5px 10px;
}

.ticbox3 {
  background-image: url("../images/tickets.jpg");
  background-size: 100% auto;
  font-family: mexican;
  font-size: 70px;
  font-weight: bold;
  width: 430px;
  height: 300px;
  text-align: center;
  line-height: 280px;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 5px 10px;
}

.threedaypass {
  background-image: url("../images/lineupbox1.jpg");
  background-size: 700px auto;
  font-family: mexican;
  font-size: 100px;
  font-weight: bold;
  width: 78.3%;
  height: 300px;
  text-align: center;
  line-height: 280px;
  top: 400px;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 10px 10px 20px 352px;
}

.input {
  background-color: black;
  font-family: mexican;
  font-size: 35px;
  color: #e63900;
  width: 300px;
  height: 400px;
  top: 328px;
  left: 27px;
  text-align: center;
  float: left;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin: 40px 0;
}

.ticblock {
  height: 300px;
  width: 99.8%;
  text-align: center;
  font-family: mexican;
  font-size: 80px;
  font-weight: bold;
  line-height: 220px;
  background-color: #800000;
  border-style: solid;
  border-width: 2px;
  border-color: darkgrey;
  position: absolute;
  bottom: 0%;
  margin: -10%;
  margin-left: -8px;
}

.ticblock a {
  display: inline-block;
  background-size: cover;
  margin: 10px 10px;
}

@media screen and (min-width:0px) and (max-width:400px) {

.wintics {
  width: 280px;
  height: 230px;
  line-height: 20px;
  margin-left: -2px;
  margin-top: -2px;
}

.ticbox1 {
  width: 280px;
  margin-left: 7px;
}

.ticbox2 {
  width: 280px;
  margin-left: 7px;
}

.ticbox3 {
  width: 280px;
  margin-left: 7px;
}

.threedaypass {
  width: 280px;
  margin-left: 7px;
  font-size: 50px;
  bottom: 10%;
}

.input {
  top: -40px;
  width: 280px;
  margin-left: -20px;
  position: relative;

}

.ticadj {
  padding: 0px;
}

.ticblock {
  float: left;
  width: 315px;
  height: 100%;
  top: 0px;
  position: relative;
}

.lineup2 {
  width: 230px;
  height: 300px;
  top: 400px;
}

.videos2 {
  width: 230px;
  height: 300px;
  top: 400px;
}

.tickets2 {
  width: 230px;
  height: 300px;
  top: 400px;
}
}
 
  
  
 